<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FetchChallenge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCD23C1D2C7173C900B53147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD23C2D2C7173CA00B53147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD23C372C7173CA00B53147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
